{% extends "base.html" %}
{% block app_content %}
    {% if current_user.roles.id == 1 %}
        Aktuell sind folgende Benutzer im System angemeldet:<br>
        <ul>
            {% for u in user %}
                <li>{{ u.username }} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}