{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Log-in{% endblock %}
{% block app_content %}
    <div class="container">
        {% if form.errors %}
            <p>
                Your username and password didn't match.
                Please try again.
            </p>
        {% endif %}
        <div class="login">
            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <form class="form-horizontal " method="POST" action="login">
                            {{ form.csrf_token }}
                            <h1>Login Form</h1>

                            <div class="form-group login_box">
                                <div class="">
                                    {{ form.username }}
                                </div>
                                <div class="">
                                    {{ form.password }}
                                </div>

                                <div align="left">
                                    <label>{{ form.remember_me }} Remember Me</label>
                                </div>
                                    {{ form.submit }}
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


