<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}
        {% if title %}{{ title }} - Plattenverzeichnis{% else %}Welcome to Plattenverzeichnis{% endif %}
    {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.css') }}">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

</head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center">
<article>
    <h1>We&rsquo;ll be back soon!</h1>
    <div>
        <img src="{{ url_for('static', filename='img/banner.png') }}">
        <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. We&rsquo;ll be back online shortly!</p>
    </div>
</article>
            </div></div></div></div></div>
      <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
  </body></html>
