{% extends "base.html" %}

{% block app_content %}
            <h1>Details zu Künstler <b>{{ artist.name }}</b></h1>
            <div class="row">
                <div class="col-xs-10">
                    Gesamtwert: {{ artists_sum }} €
                    <table class="table">
                        <thead>
                        <th>Record</th>
                        <th>Matrix-Nr.</th>
                        <th>Archiv-Nr.</th>
                        <th>Aktueller Preis</th>
                        <th>Cover</th>
                        <th>Media</th>
                        </thead>
                        <tbody>
                        {% for record in artist.records %}
                            <tr>
                                <td><a href="{{ url_for('main.records_details', id=record.id) }}">{{ record.title }}</a>
                                </td>
                                <td>{{ record.matrix_number }}</td>
                                <td>{{ record.archive_number }}</td>
                                <td>{% if record.current_price %}{{ record.current_price }} € {% endif %}</td>
                                <td>{{ record.grading_cover }}</td>
                                <td>{{ record.grading_media }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}