<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}
        {% if title %}{{ title }} - Plattenverzeichnis{% else %}Welcome to Plattenverzeichnis{% endif %}
    {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.css') }}">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

</head>
<body {% if current_user.is_anonymous %} class="" {% else %} class="nav-md" {% endif %}>

<div class="container body">
    {% if not current_user.is_anonymous %}
        <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{{ url_for('main.index') }}" class="site_title"><i class="fa fa-archive"></i>
                        Record-Archive</a>
                </div>
                <div class="custom-search-form">
                    <input type="text" class="form-control" id="searchbar" placeholder="Search...">
                </div>
                <!-- /input-group -->

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_info">
                        <span>Willkommen,</span>
                        <h2>{% if not current_user.is_anonymous %}
                            {{ current_user.username }} {% endif %}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a href="{{ url_for('main.index') }}"><i class="fa fa-tachometer-alt fa-fw"></i>
                                    Dashboard</a>
                            </li>
                            <li><a><i class="fa fa-compact-disc"></i> Records <span
                                    class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ url_for('main.records_show_all') }}">Alle Anzeigen</a></li>
                                    <li><a href="{{ url_for('main.records_add') }}">Hinzufügen</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-users"></i> Artists <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ url_for('main.artists_show_all') }}">Alle Anzeigen</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-tag"></i> Labels <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ url_for('main.labels_show_all') }}">Alle Anzeigen</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {% if not current_user.is_anonymous and current_user.roles.id == 1 %}
                        <div class="menu_section">
                            <h3>Admin</h3>
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-toolbox"></i> Admin Menü <span
                                        class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="{{ url_for('auth.dashboard') }}">Admin Dashboard</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>
    {% endif %}
    <!-- top navigation -->
    <div class="top_nav navbar-fixed-top">
        <div class="nav_menu">
            <nav>
                {% if not current_user.is_anonymous %}
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                    {% else %}
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-user"></i>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="{{ url_for('auth.logout') }}"><i
                                        class="fa fa-sign-out pull-right"></i>
                                    Log Out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main" style="padding-top: 60px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="row">
                    <div class="notifications">
                        {% for message in messages %}
                            <div class="alert-info" role="alert">
                                <div style="margin-left: 40%">{{ message }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <div class="row" style="margin-right: 50px">
            {% block app_content %}

            {% endblock %}
        </div>
    </div>
    <!-- /page content -->
    </div>

</div>
{# application content needs to be provided in the app_content block #}


<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ url_for('static', filename='js/custom.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
        $(".ConfirmDelete").click(function () {
            id = $(this).attr('data-id');
            recordTitle = $(this).attr('data-record-title');
            $('#deleted-content').text(recordTitle);
            $('#deleteModal').modal();


            $("#delete").click(function () {
                $('#deleteModal').modal('hide');
                $.post("/delete/record/" + id)
                    .done(function () {
                        location.reload();
                    })
            });
        });
        $("#search").autocomplete({
            source: function (request, response) {
                $.getJSON("{{url_for('main.autocomplete')}}", {
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                    c: $("#search").attr('name'),
                }, function (data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 2,
        });
        $("#autocomplete_artist").autocomplete({
            source: function (request, response) {
                $.getJSON("{{url_for('main.autocomplete')}}", {
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                    c: $("#autocomplete_artist").attr('name'),
                }, function (data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 2,
        });
        $("#autocomplete_label").autocomplete({
            source: function (request, response) {
                $.getJSON("{{url_for('main.autocomplete')}}", {
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                    c: $("#autocomplete_label").attr('name'),
                }, function (data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 2,
        });
        $("#autocomplete_country").autocomplete({
            source: function (request, response) {
                $.getJSON("{{url_for('main.autocomplete')}}", {
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                    c: $("#autocomplete_country").attr('name'),
                }, function (data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 1,
        });

        $("#searchbar").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>