{% extends "base.html" %}
{% block app_content %}
    <h3>Willkommen im Plattenverzeichnis</h3>
    {% if not current_user.is_anonymous %}
        <table>
            <tr>
                <td>Vorhandene Einträge:</td>
                <td>{{ records_count }}</td>
            </tr>
            <tr>
                <td>Unterschiedliche Künstler:</td>
                <td>{{ artists_count }}</td>
            </tr>
            <tr>
                <td>Unterschiedliche Label:</td>
                <td>{{ labels_count }}</td>
            </tr>
            <tr>
                <td>Anzahl LP:</td>
                <td>{{ lp_count }}</td>
            </tr>
            <tr>
                <td>Anzahl CD:</td>
                <td>{{ cd_count }}</td>
            </tr>
            <tr>
                <td>Gesamtwert der Einträge:</td>
                <td>{{ records_sum }} €</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}