{% extends "base.html" %}

{% block app_content %}
    {% if artists != None %}
        <table class="table" style="width:300px">
            <thead>
            <tr>
                <th>Künstler</th>
                <th class="col-xs-1">Anzahl Records</th>
            <tr>
            </thead>
            <tbody id="searchable">
            {% for label in labels %}
              <tr>
                    <td>
                        <a href="{{ url_for('main.label_details', id=label[0].id) }}">{{ label[0].name }}</a>
                    </td>
                    <td>
                    {{ label.records_count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Keine Datensätze vorhanden
    {% endif %}
{% endblock %}