{% extends "base.html" %}

{% block app_content %}
            <h1>Details zu Label <b>{{ label.name }}</b></h1>
            Gesamtwert: {{ labels_sum }} €
            <table class="table">
                <thead>
                <th>Record</th>
                <th>Matrix-Nr.</th>
                <th>Archiv-Nr.</th>
                <th>Aktueller Preis</th>
                <th>Cover</th>
                <th>Media</th>
                </thead>
                <tbody>
                {% for record in label.records %}
                    <tr>
                        <td>
                            <a href="{{ url_for('main.artist_details', id=record.artists.id) }}">{{ record.artists.name }}</a>
                            -
                            <a href="{{ url_for('main.records_details', id=record.id) }}">{{ record.title }}</a></td>
                        <td>{{ record.matrix_number }}</td>
                        <td>{{ record.archive_number }}</td>
                        <td>{% if record.current_price %}{{ record.current_price }} € {% endif %}</td>
                        <td>{{ record.grading_cover }}</td>
                        <td>{{ record.grading_media }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}