{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <form method="POST" action="#" class="col-xs-6">
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="form-check form-check-inline">{{ form.kind }}</div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-6">
                <label for="artist" class="col-form-label col-form-label-sm">{{ form.artist.label }}</label>
                {{ form.artist }}
            </div>
            <div class="form-group col-xs-6">
                <label for="title" class="col-form-label col-form-label-sm">{{ form.title.label }}</label>
                {{ form.title }}
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label for="label" class="col-form-label col-form-label-sm">{{ form.label.label }}</label>
            {{ form.label }}
        </div>
        <div class="form-row">
            <div class="form-group col-xs-4">
                <label for="catalog_number"
                       class="col-form-label col-form-label-sm">{{ form.catalog_number.label }}</label>
                {{ form.catalog_number }}
            </div>
            <div class="form-group col-xs-4">
                <label for="matrix_number"
                       class="col-form-label col-form-label-sm">{{ form.matrix_number.label }}</label>
                {{ form.matrix_number }}
            </div>
            <div class="form-group col-xs-4">
                <label for="barcode" class="col-form-label col-form-label-sm">{{ form.barcode.label }}</label>
                {{ form.barcode }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-4">
                <label for="country_of_origin"
                       class="col-form-label col-form-label-sm">{{ form.country_of_origin.label }}</label>
                {{ form.country_of_origin }}
            </div>
            <div class="form-group col-xs-4">
                <label for="release_date" class="col-form-label col-form-label-sm">{{ form.release_date.label }}</label>
                {{ form.release_date }}
            </div>
            <div class="form-group col-xs-4">
                <label for="reissue_date" class="col-form-label col-form-label-sm">{{ form.reissue_date.label }}</label>
                {{ form.reissue_date }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-6">
                <label for="grading_media"
                       class="col-form-label col-form-label-sm">{{ form.grading_media.label }}</label>
                {{ form.grading_media }}
            </div>
            <div class="form-group col-xs-6">
                <label for="grading_cover"
                       class="col-form-label col-form-label-sm">{{ form.grading_cover.label }}</label>
                {{ form.grading_cover }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-xs-4">
                <label for="current_price"
                       class="col-form-label col-form-label-sm">{{ form.current_price.label }}</label>
                {{ form.current_price }}
            </div>
            <div class="form-group col-xs-4">
                <label for="buy_price" class="col-form-label col-form-label-sm">{{ form.buy_price.label }}</label>
                {{ form.buy_price }}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group col-xs-12">
                <label for="archive_number"
                       class="col-form-label col-form-label-sm">{{ form.archive_number.label }}</label>
                {{ form.archive_number }}
        </div>
        <div class="form-group col-xs-12">
                <label for="note"
                       class="col-form-label col-form-label-sm">{{ form.note.label }}</label>
                {{ form.note }}
        </div>

        {{ form.submit }}
    </form>
{% endblock %}