{% extends "base.html" %}
{# TODO: Grading with VG etc.#}
{% block app_content %}
    <h1>Details zu <b>{{ record.title }}</b></h1>
    Artist: <a
        href="{{ url_for('main.artist_details', id=record.artists.id) }}">{{ record.artists.name }}</a><br>
    Label: {% if record.labels != None %}
    <a href="{{ url_for('main.label_details', id=record.labels.id) }}"> {{ record.labels.name }}</a> {% else %}
    {{ record.labels.name }} {% endif %}<br>
    Katalog-Nr.: {{ record.catalog_number }} <br>
    Matrix-Nr.: {{ record.matrix_number }} <br>
    Barcode: {{ record.barcode }} <br>
    Herstellungsland: {{ record.countries.name }} <br>
    Herstelldatum: {{ record.release_date }} <br>
    Reissue-Datum: {{ record.reissue_date }} <br>
    Grading-Media: {{ record.grading_media }} <br>
    Grading-Cover: {{ record.grading_cover }} <br>
    {% if record.current_price %}Aktueller Preis: {{ record.current_price }} € <br> {% endif %}

    {% if record.buy_price %}Kaufpreis Preis: {{ record.buy_price }} € <br> {% endif %}
    {% if lowest_price %}Discogs Preis : {{ '%0.2f' % lowest_price }} € <br> {% endif %}
    {% if average_price %}Durschn. Discogs Preis: {{ '%0.2f' % average_price }} € <br> {% endif %}
    Archiv-Nr.: {{ record.archive_number }} <br>
    Bemerkung: {{ record.note }}
{% endblock %}