{% extends "base.html" %}

{% block app_content %}

        <div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="confirmDeleteLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Delete Parmanently</h4>
                    </div>
                    <div class="modal-body">
                        <p>Soll der Eintrag <b><span class="text-danger" id="deleted-content"></span></b> wirklich
                            gelöscht werden?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
            {% if records != None %}
            <table class="table">
                <thead>
                <tr>
                    <th class="hidden-sm hidden-xs">Typ</th>
                    <th>Künstler</th>
                    <th>Titel</th>
                    <th>Label</th>
                    <th class="hidden-xs">Cover</th>
                    <th class="hidden-xs">Media</th>
                    <th class="hidden-sm hidden-xs">Katalog-Nr.</th>
                    <th class="hidden-sm hidden-xs">Matrix-Nr.</th>
                    <th class="hidden-sm hidden-xs">Archiv-Nr.</th>
                    <th>Aktueller Preis</th>
                    <th>Edit</th>
                    <th>Delete</th>
                <tr>
                </thead>
                <tbody id="searchable">
                {% for record in records %}
                    <tr>
                        <td class="hidden-sm hidden-xs">{{ record.kind }}</td>
                        <td>
                            <a href="{{ url_for('main.artist_details', id=record.artists.id) }}">{{ record.artists.name }}</a>
                        </td>
                        <td><a href="{{ url_for('main.records_details', id=record.id) }}"> {{ record.title }}</a>
                        </td>
                        <td>{% if record.labels != None %}
                            <a href="{{ url_for('main.label_details', id=record.labels.id) }}"> {{ record.labels.name }}</a> {% else %}
                            {{ record.labels.name }} {% endif %}</td>
                        <td class="hidden-xs">{{ record.grading_cover }}</td>
                        <td class="hidden-xs">{{ record.grading_media }}</td>
                        <td class="hidden-sm hidden-xs">{{ record.catalog_number }} </td>
                        <td class="hidden-sm hidden-xs">{{ record.matrix_number }}</td>
                        <td class="hidden-sm hidden-xs">{{ record.archive_number }}</td>
                        <td>{% if record.current_price %}{{ record.current_price }} € {% endif %}</td>
                        <td><a href="{{ url_for('main.records_update', id=record.id) }}"><i
                                class="fa fa-edit"></i></a></td>
                        <td><a href="javascript:void(0)" data-id="{{ record.id }}"
                               data-record-title="{{ record.artists.name }} - {{ record.title }}" class="ConfirmDelete"><i
                                class="fa fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            Keine Datensätze vorhanden
        {% endif %}
{% endblock %}